html,
body {
  background: linear-gradient(243.18deg, #B552A5 0%, #CF6529 100%) fixed !important;
  color: #310E2B !important;
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
